.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__uTg2K {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-qfPkfniWlX894K);
}
.freeBox__hWxBk {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-y2EKeFHzt5wwQr);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__hWxBk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__hWxBk > :global(.__wab_flex-container) > *,
.freeBox__hWxBk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hWxBk > :global(.__wab_flex-container) > picture > img,
.freeBox__hWxBk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hWxBk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hWxBk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hWxBk > :global(.__wab_flex-container) > *,
  .freeBox__hWxBk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hWxBk > :global(.__wab_flex-container) > picture > img,
  .freeBox__hWxBk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__bFXoq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__bFXoq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bFXoq > :global(.__wab_flex-container) > *,
.freeBox__bFXoq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bFXoq > :global(.__wab_flex-container) > picture > img,
.freeBox__bFXoq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__mMt3N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__h0Ngh {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__ffcDi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__pCgUs {
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__pCgUs:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__agt3M {
  position: relative;
  font-size: 14px;
  color: var(--token-hQ82NLNQUO1r9I);
}
.link__vnS3G {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__vnS3G:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__d5PFy {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__d5PFy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__d5PFy > :global(.__wab_flex-container) > *,
.freeBox__d5PFy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d5PFy > :global(.__wab_flex-container) > picture > img,
.freeBox__d5PFy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d5PFy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d5PFy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d5PFy > :global(.__wab_flex-container) > *,
  .freeBox__d5PFy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__d5PFy > :global(.__wab_flex-container) > picture > img,
  .freeBox__d5PFy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__ajBjb {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__ajBjb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ajBjb > :global(.__wab_flex-container) > *,
.freeBox__ajBjb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ajBjb > :global(.__wab_flex-container) > picture > img,
.freeBox__ajBjb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__guz9N {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__beZez {
  font-size: 14px;
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
}
.root .link__beZez:hover {
  color: var(--token-NEon4Y--Z);
}
.link__qaU5K {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__qaU5K:hover {
  color: var(--token-NEon4Y--Z);
}
.link__n0OGb {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__n0OGb:hover {
  color: var(--token-NEon4Y--Z);
}
.link__tutD5 {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__tutD5:hover {
  color: var(--token-NEon4Y--Z);
}
.link__dxbF {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__dxbF:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__c7Uz4 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__c7Uz4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__c7Uz4 > :global(.__wab_flex-container) > *,
.freeBox__c7Uz4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c7Uz4 > :global(.__wab_flex-container) > picture > img,
.freeBox__c7Uz4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___94VTb {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__wjAn9 {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__wjAn9:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vaylj {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__vaylj:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xjsOk {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__xjsOk:hover {
  color: var(--token-NEon4Y--Z);
}
.link__idrUs {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__idrUs:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jvyHh {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__jvyHh:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__yqooD {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__yqooD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yqooD > :global(.__wab_flex-container) > *,
.freeBox__yqooD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yqooD > :global(.__wab_flex-container) > picture > img,
.freeBox__yqooD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__bm02J {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__hvQes {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__hvQes:hover {
  color: var(--token-NEon4Y--Z);
}
.link__txDzX {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__txDzX:hover {
  color: var(--token-NEon4Y--Z);
}
.link__pdjfx {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__pdjfx:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jn6UF {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__jn6UF:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jvB0P {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__jvB0P:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__pkA {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__pkA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pkA > :global(.__wab_flex-container) > *,
.freeBox__pkA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pkA > :global(.__wab_flex-container) > picture > img,
.freeBox__pkA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__o5QUi {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__f85B {
  position: relative;
  font-size: 14px;
  color: var(--token-hQ82NLNQUO1r9I);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__x544H {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__qLtfT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg___6UxBc {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__aUGnP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ckIcU {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-qfPkfniWlX894K);
}
.freeBox___2SnXl {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-y2EKeFHzt5wwQr);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___2SnXl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2SnXl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2SnXl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2SnXl > :global(.__wab_flex-container) > *,
  .freeBox___2SnXl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2SnXl > :global(.__wab_flex-container) > picture > img,
  .freeBox___2SnXl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__geHdV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__nrKz {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  height: auto;
  font-size: 14px;
}
.root .link__nrKz:hover {
  text-decoration-line: underline;
}
.link__zYmwq {
  position: relative;
  color: var(--token-hQ82NLNQUO1r9I);
  font-size: 14px;
}
.root .link__zYmwq:hover {
  text-decoration-line: underline;
}
.text__cBmAz {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-hQ82NLNQUO1r9I);
}
.freeBox__fWqk7 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fWqk7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fWqk7 > :global(.__wab_flex-container) > *,
.freeBox__fWqk7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fWqk7 > :global(.__wab_flex-container) > picture > img,
.freeBox__fWqk7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__gLyeS:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lOPnT {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__lOPnT:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__ogRuy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__wPKtC {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__wPKtC:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink___4LbWd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gRjw {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__gRjw:hover {
  color: var(--token-dph1wZ7NjV9);
}
