.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__le4Ge {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-y2EKeFHzt5wwQr);
  display: flex;
  min-width: 0;
}
.freeBox__le4Ge > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__le4Ge > :global(.__wab_flex-container) > *,
.freeBox__le4Ge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__le4Ge > :global(.__wab_flex-container) > picture > img,
.freeBox__le4Ge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___4RoqR {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___4RoqR > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___4RoqR > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___4RoqR > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___4RoqR > :global(.__wab_flex-container) > *,
.columns___4RoqR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___4RoqR > :global(.__wab_flex-container) > picture > img,
.columns___4RoqR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4RoqR {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4RoqR > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4RoqR > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4RoqR > :global(.__wab_flex-container) > *,
  .columns___4RoqR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___4RoqR > :global(.__wab_flex-container) > picture > img,
  .columns___4RoqR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__zLQz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zLQz {
    width: 100%;
  }
}
.freeBox__euoka {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__euoka > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__euoka > :global(.__wab_flex-container) > *,
.freeBox__euoka > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__euoka > :global(.__wab_flex-container) > picture > img,
.freeBox__euoka
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__euoka {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__euoka > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__yFxVz {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__gG251 {
  position: relative;
  text-align: left;
}
.bullet__aqz9M:global(.__wab_instance) {
  position: relative;
}
.bullet__jqPBw:global(.__wab_instance) {
  position: relative;
}
.bullet___9HUhW:global(.__wab_instance) {
  position: relative;
}
.text__dR3Qo {
  position: relative;
  text-align: left;
}
.freeBox__beCl3 {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__beCl3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__beCl3 > :global(.__wab_flex-container) > *,
.freeBox__beCl3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__beCl3 > :global(.__wab_flex-container) > picture > img,
.freeBox__beCl3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__beCl3 {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__beCl3 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__beCl3 > :global(.__wab_flex-container) > *,
  .freeBox__beCl3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__beCl3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__beCl3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___8U2NE:global(.__wab_instance) {
  position: relative;
}
.svg___9Seoq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___2SCv3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__knOKh:global(.__wab_instance) {
  position: relative;
}
.svg__flXf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__p4Etx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__hP4I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hP4I {
    width: 100%;
  }
}
.img__bBkL3 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__bBkL3 > picture > img {
  object-fit: cover;
}
.img__bBkL3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__vNkcY {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__vNkcY > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__vNkcY > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__vNkcY > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__vNkcY > :global(.__wab_flex-container) > *,
.columns__vNkcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vNkcY > :global(.__wab_flex-container) > picture > img,
.columns__vNkcY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vNkcY {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vNkcY > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vNkcY > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vNkcY > :global(.__wab_flex-container) > *,
  .columns__vNkcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__vNkcY > :global(.__wab_flex-container) > picture > img,
  .columns__vNkcY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column___56Ata {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___56Ata {
    width: 100%;
  }
}
.img__yVpR {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__yVpR > picture > img {
  object-fit: cover;
}
.img__yVpR > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__dnPxg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dnPxg {
    width: 100%;
  }
}
.freeBox__xkWk {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__xkWk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__xkWk > :global(.__wab_flex-container) > *,
.freeBox__xkWk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xkWk > :global(.__wab_flex-container) > picture > img,
.freeBox__xkWk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xkWk {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xkWk > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__lelL1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__wRvPy {
  position: relative;
  text-align: left;
}
.bullet__zz3Rh:global(.__wab_instance) {
  position: relative;
}
.bullet__i5Ktt:global(.__wab_instance) {
  position: relative;
}
.bullet__jy47A:global(.__wab_instance) {
  position: relative;
}
.text___2Doz {
  position: relative;
  text-align: left;
}
.freeBox__gmkJ7 {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__gmkJ7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__gmkJ7 > :global(.__wab_flex-container) > *,
.freeBox__gmkJ7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gmkJ7 > :global(.__wab_flex-container) > picture > img,
.freeBox__gmkJ7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gmkJ7 {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gmkJ7 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gmkJ7 > :global(.__wab_flex-container) > *,
  .freeBox__gmkJ7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gmkJ7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__gmkJ7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__lxk10:global(.__wab_instance) {
  position: relative;
}
.svg___2C3WI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___67QZj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wYhQf:global(.__wab_instance) {
  position: relative;
}
.svg__yevtx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__svPwh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
